@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> We are learning CRUD operations with a database Table in ASP.NET Core</a>.</p>
</div>
